<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Interval: How often the geocoding service main loop executes. Every (x) minutes. -->
    <add key="Interval" value="1"/>
    
    <!-- JitterMinSleep: min amount of time each request waits before querying google -->
    <add key="JitterMinSleep" value="1"/>
    
    <!-- JitterMaxSleep: max amount of time each request waits before querying google -->
    <add key="JitterMaxSleep" value="6"/>

    <!-- Parrallism: amount of concurrent network threads to use when querying google -->
    <add key="Parallelism" value="5"/>

    <!-- ProxyServerAuthenticate: true/false: authenticate with the configured proxy server -->
    <add key="ProxyServerAuthenticate" value="true"/>

    <!-- ProxyServerEnabled: true/false: use proxy server when querying google -->
    <add key="ProxyServerEnabled" value="false"/>

    <!-- ProxyServerUri: use full Uri with http, hostname and port. i.e. http://10.0.0.254:8080/ -->
    <add key="ProxyServerUri" value="http://localhost:8080"/>

    <!-- ProxyServerUsername: use domain\username if needed otherwise just use username -->
    <add key="ProxyServerUsername" value="domain\username"/>
    
    <add key="ProxyServerPassword" value="password"/>
  </appSettings>
</configuration>
